site_name: CRISP Controllers - Learning Systems Lab
nav:
  - Home: index.md
  - Getting Started: getting_started.md
  - Misc:
    - Available Controllers and Broadcasters: misc/controllers.md
    - Demos: misc/demos.md
    - How to calibrate a gripper: misc/calibrate_gripper.md
    - Multi-machine setup: misc/multi_machine_setup.md
    - ROS2 Diagnostics: misc/diagnostics.md
    - Setting up a robot that is not available in the demos: misc/new_robot_setup.md
      
  # - Test: crisp_controllers/classes.md

theme:
  name: material
  logo: images/logo.png
  favicon: images/favicon.png
  palette:

    # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default 
      primary: teal
      accent: deep purple
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode

    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: teal
      accent: deep purple
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  font:
    text: Roboto
    # text: Poppins
    # text: Montserrat
    # text: Tahoma
    # text: Roboto
    code: Source Code Pro
  features:
    - header.autohide
    - content.code.copy
    - content.code.select
    - content.code.annotate
    - content.footnote.tooltips
    - content.tooltips
    - navigation.footer
  icon:
    repo: fontawesome/brands/github

plugins:
  - search
  # - mkdoxy:
  #     projects:
  #       crisp_controllers: # name of project must be alphanumeric + numbers (without spaces)
  #         src-dirs: .
  #         full-doc: True # if you want to generate full documentation
  #         doxy-cfg: # standard doxygen configuration (key: value)
  #           FILE_PATTERNS: "*.cpp *.h*" # specify file patterns to filter out
  #           RECURSIVE: True # recursive search in source directorie


extra:
  social:
    - icon: fontawesome/brands/github 
      link: https://github.com/utiasDSL/crisp_controllers

markdown_extensions:
  - abbr
  - admonition
  - attr_list
  - def_list
  - footnotes
  - md_in_html
  - pymdownx.details
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.tasklist:
      custom_checkbox: true 
      clickable_checkbox: true

extra_css:
  - stylesheets/extra.css
